* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", "sans-serif";
}

body {
  position: relative;
}

.main-header {
  background-color: #1b2545;
  color: white;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid lightgrey;
}

.main-header .change-page {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
}

.main-header .change-page:hover {
  font-weight: 700;
  color: #1b2545;
  background-color: #5cd793;
}

.main-header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
  display: flex;
  letter-spacing: -1px;
}

.main-header .title .logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.main-header .title .fa-paper-plane {
  color: white;
  height: 150px;
}

.articles-info {
  margin: 50px auto 15px auto;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  grid-column: 1 / -1;
  text-align: center;
}

.articles-info .pagination-input {
  width: 25px;
  margin-left: 10px;
  border: none;
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #c2cdf0;
}

.articles-info .sort-method {
  width: 130px;
  margin-left: 10px;
  border: none;
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #c2cdf0;
  font-size: 15px;
}

.main-content {
  width: 80vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

.main-content .article {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  max-width: 400px;
  height: 100%;
  position: relative;
}

.main-content .article .article-summary {
  margin-bottom: 50px;
}

.main-content .article .article-details {
  text-transform: uppercase;
  color: #4aaf77;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.main-content .article .article-link {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #1b2545;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  color: white;
  margin: 10px 10px 0 0;
}

.main-content .article .article-link:hover {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 10px;
  font-weight: 700;
  color: #1b2545;
  background-color: #5cd793;
}

.main-content .article .article-image {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-content .article .heart-button {
  width: 30px;
  height: 30px;
  display: none;
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.main-content .article .heart-button:hover {
  cursor: pointer;
}

.main-content .article .active {
  display: inline;
}

.main-content .article:hover {
  -webkit-box-shadow: 0 0 1em lightgrey;
          box-shadow: 0 0 1em lightgrey;
}

.back-to-top {
  background-color: #5cd793;
  border-radius: 10px;
  padding: 5px;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.back-to-top:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (min-width: 600px) {
  .main-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .main-content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .main-content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */